@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url(https://db.onlinewebfonts.com/c/6f1a075af8afe852f3e3c8a75e49bc31?family=DIN+Next+Rounded+LT+Pro+Bold);

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Poppins', 'Gilroy';
}
body .MuiPaper-elevation {
   box-shadow: 'none';
}
