@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://db.onlinewebfonts.com/c/6f1a075af8afe852f3e3c8a75e49bc31?family=DIN+Next+Rounded+LT+Pro+Bold');
@import url('https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular');
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Poppins', 'Gilroy';
}
body {
   margin: 0;
   font-family: 'Poppins', 'Gilroy';
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #d7e1f8;
}
body .MuiPaper-elevation {
   box-shadow: 'none';
}
@font-face {
   font-family: 'Gilroy';
   src: url('./assets/fonts/Gilroy-Extrabold.woff2') format('woff2');
}
